<footer class="info small border-top pt-2">
  <p>
    Created by <a href="https://github.com/aapaine07">Alex</a>,
    <a href="https://github.com/jasmine-9000">Jaz</a>,
    <a href="https://github.com/joetraunero">Joe</a>,
    <a href="https://github.com/johnmal-dev">John</a>,
    <a href="https://github.com/TalThatcher">Tal</a> and
    <a href="#">Xavier</a>
  </p>
  <p><a href="https://github.com/johnmal-dev/listify">GitHub</a></p>
</footer>
