<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Reset Password</title>
</head>
<body class="index-screen background-img">
    <div class="login-container card">
      <!-- logo and CSS styling isnt working because I haven't setup the MVC style of GET routing yet I think... will try to finish this later,
      it still works and looks in a similar style. Terminal is saying it's trying to get CSS from /reset/css/style.css and /reset/images/logo.png-->
      <!-- <div class="card-body">
        <%- include('./partials/logo'); %>  -->
        <h3 class="card-title text-center">Reset Listify Password</h3>
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => {
        %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
        messages.info.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %> <% } %>
    <form
    method="POST"
    >
    <div class="d-flex flex-column">
      <label for="password">New Password</label>
      <input
        id="inputPassword"
        type="password"
        name="password"
        placeholder="New Password"
        class="form-control mb-2"
      />
      <label for="confirm">Confirm Password</label>
      <input
        id="inputPassword"
        type="password"
        name="confirm"
        placeholder="Confirm Password"
        class="form-control mb-2"
      />
      <input
        type="submit"
        class="btn btn-lg btn-primary mt-2"
      />
    </div>
  </form>
</body>
</html>
